<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/dist/css/index.css">
    <title>Wisdom</title>
</head>
<body>
<div class="container">
    <!-- 主内容区域 -->
    <div class="content">
        {{.Sentence}}
    </div>
</div>

<script type="application/javascript" src="/dist/bundle.js"></script>
</body>
</html>